<div class="fBlock">
  <div class="ftop">
    <h1>STAY CONNECTED</h1>
    <div class="sb">
      <div class="socIcon" href=""> <i class="fa fa-twitter"></i></div> 
      <div class="socIcon" href=""> <i class="fa fa-facebook"></i></div> 
      <div class="socIcon" href=""> <i class="fa fa-pinterest"></i></div> 
      <div class="socIcon" href=""> <i class="fa fa-google-plus"></i></div> 
      <div class="socIcon" href=""> <i class="fa fa-dribbble"></i></div> 
      <div class="socIcon" href=""> <i class="fa fa-linkedin"></i></div> 
      <div class="socIcon" href=""> <i class="fa fa-flickr"></i></div> 
    </div>

  </div>


  <div class="fbot">

    <div class="b1">
      <div class="tlp">
        <p style="font-size:larger">Lorem ipsum dolor sit amet, probo facilisi interpretaris id pri.
          Te eum sanctus suscipiantur, id duo tale velit facete. Vel debet
          diceret no, est no quot paulo imperdiet.
        </p>
      </div>      
      <div class="trp">
        <a href=""><i class="arrow"></i>  Quick Link One</a>
        <a href=""><i class="arrow"></i>  Quick Link Two</a>
        <a href=""><i class="arrow"></i>  Quick Link Three</a>
        <a href=""><i class="arrow"></i>  Quick Link Four</a>
      </div>
    </div>

    <div class="b2">
      <p>Copyright 2018 Roman Danyliv. All right reserved.</p>
      <p><a href="">View online</a> | <a href="">Unsubscribe</a></p>


    </div>

  </div>

</div>