<div class=" center-block">

    <div class="b1 L1">
        <img src="/src/images/img_1.png" class="img1" alt="img_1">
        <div >
            <h1>LARGEG ITEM HEADING</h1>
            <p>
                Lorem ipsum dolor sit amet, probo facilisi interpretaris id pri.
                Te eum sanctus suscipiantur, id duo tale velit facete. Vel
                debet diceret no, est no quot paulo imperdiet. Mel nisl percipitur ad. 
                Cu dicam lucilius vis, ipsum bonorum maluisset has ad.
            </p>
        </div>
        <a class="button" href="">DETAILS</a>
    </div>

    <div class="b1 L2">
        <div class="b2">
            <img src="/src/images/img.png" alt="img" class="img2">
            <h3>SMALL ITEM</h3>
            <p>Lorem ipsum dolor sit amet, graeci copiosae splendide mel an.</p>
            <a class="button" href="">DETAILS</a>
        </div>
        <div class="b2">
            <img src="/src/images/img_0.png" alt="img_0" class="img2">
            <h3>SMALL ITEM</h3>
            <p>Lorem ipsum dolor sit amet, graeci copiosae splendide mel an.</p>
            <a class="button" href="">DETAILS</a>
        </div>
    </div>

    <div class="b1 L3">
        <div class="b3">ADD<br>PHOTO</div>
        <div class="b3">ADD<br>PHOTO</div>
        <div class="b3">ADD<br>PHOTO</div>
    </div>

    <div class="b1 L4">
        <div >
            <h1>BLOG POST TITLE TWO</h1>
            <p>
                Lorem ipsum dolor sit amet, probo facilisi interpretaris id pri.
                Te eum sanctus suscipiantur, id duo tale velit facete. Vel
                debet diceret no, est no quot paulo imperdiet. Mel nisl percipitur ad. 
                Cu dicam lucilius vis, ipsum bonorum maluisset has ad.
            </p>
        </div>
        <a class="button" href="">DETAILS</a>
    </div>

    <div class="b1 L4 L0">
        <div >
            <h1>BLOG POST TITLE TWO</h1>
            <p>
                Lorem ipsum dolor sit amet, probo facilisi interpretaris id pri.
                Te eum sanctus suscipiantur, id duo tale velit facete. Vel
                debet diceret no, est no quot paulo imperdiet. Mel nisl percipitur ad. 
                Cu dicam lucilius vis, ipsum bonorum maluisset has ad.
            </p>
        </div>
        <a class="button" href="">DETAILS</a>
    </div>

</div>
